// Colors
$primary-color: #369;
$secondary-color: #444;
$third-color: #888;

// Forn
$font: Arial, Helvetica, sans-serif;
$font-weight: lighter;
$font-form: Cambria, Georgia;

// Margin
$margin-body: 2em;

// Forms
$form-color: $third-color;
$form-font: $font-form;